html, body {
    height:100%;
    width:100%;
    margin:0;
}

body {
    background-color: white;
    display:flex;
    background-image: url("https://img.freepik.com/premium-vector/white-pattern-with-lines-that-say-word-zigzag_686000-12.jpg");
    background-size: 100px 100px;
    background-repeat: repeat;
}

.login-field {
    margin:auto;
    height: 40%;
}

.title-div {
    margin:auto;
    display: flex;
    flex-direction: row;
}

.login-form {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    padding: 20px 40px;
    height: 100%;
    border: 1px solid;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
}

.title-form {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-start;
    padding: 20px 40px;
    height: 100%;
    border: 1px solid;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
}

.data-div {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-start;
    padding: 20px 40px;
    border: 1px solid;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
}

.competition-form {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 40px 40px;
    height: 100%;
    border: 1px solid;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
}

.schedule-form {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-start;
    padding: 10px 20px;
    height: 100%;
    border: 1px solid;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
}

.competition-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*justify-items: center;*/
    align-items: flex-start;
    height: 100%;
}

.header-text {
    font-size: larger;
    color: black;
    text-align: center;
}

.login-img {
    width: 175px;
}

.header {
    height: 80px;
    background-color: forestgreen;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.name-tag {
    position: absolute;
    top: 0;
    left: 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text {
    border-color: white;
    color: black;
}

.new-text {
    padding-top: 20px;
}

#name-tag {
    text-align: center;
    font-size: larger;
    vertical-align: middle;
    color: white;
}

.logout-form {
    position: absolute;
    top: 0;
    right: 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-comp-button {
    position: absolute;
    top: 0;
    right: 125px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 200px;
}

.divider-text {
    font-size: larger;
    color: rgb(128, 128, 128);
    text-align: center;
    padding: 5px;
}

.divider {
    width: 50px;
}

.divider-height {
    height: 50px;
}

.divider2 {
    width: 15px;
}

.divider-v {
    height: 15px;
}

#competition-img {
    width: 200px;
    scale: 120%;
}

ul.compslist {
    list-style-type: square;
    padding: 0 25px;
}

.team-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.score-entry {
    width: 50px;
}

.team-score-row {
    display: flex;
    flex-direction: column;
}

.divider-v2 {
    height: 5px;
}

.round-text {
    padding-right: 30px;
}

.round-number {
    font-size: medium;
    color: black;
    width: 100%;
    padding-right: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.whole-row {
    background-color: #E6E6E6;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-bottom: 15px;
}

.smalltext {
    font-size: smaller;
    padding: -5px 0;
    color: dimgray;
}

.brathidden {
    display: none;
    opacity: 0;
    pointer-events:none;
}

.widthfull {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    justify-items: flex-start;
}

.divider-5px {
    height: 5px;
}

.row-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}